body{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: scroll;
}
#header{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0%;
    width: 720px;
    height: 20%;
    top: 0px;
    left: 0px;
    background-color: black;
    align-items: center;
    border-radius: 10px;
}
#profile{
    position: relative;
    margin: 0%;
    top: 0px;
    left: 0px;
    width: 720px;
    height: 80%;
    background-color: lightcyan;
    border-radius: 10px;
}
#avatar{
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 160px;
    background-image: url("./avatar.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#name{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#describe{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0px 40px;
    width: 640px;
    height: 50%;
    bottom: 0px;
    border-top: 1px solid lightgray;
}
.des{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    width: 50%;
    height: 100%;
    justify-items: center;

}
.icon{
    position: relative;
    display: inline-block;
    margin: 0%;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.content{
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: auto;
    height: 40px;
    align-items: center;
    justify-content: center;
}
